<html>
<head>
        This is title 

<style>
    h1 {
        color: red;
        text-align: center;
        margin-left: 100px;
    }
    .l1{
        color:green
    }
.pass{
    columns: 12;
    color: black;
    font-style: oblique;
    font-size: large;
    height: 100px;
    width: 100px
}

</style>
    
</head>

<body style="font: 200; color: red;" background="J:\面试\GatherAlgorithms\website\images\001.gif" >
    
    content <br> sss
    <h1> sd </h1>
    <h5> sd 
    </h5>

    <div class="l1">
            
        <a href="introduction.html">ssd </a> 
    </div>
        
    <div style="color: rebeccapurple;
        margin-left: 100px">
            <textarea>
                    inn
                </textarea>
            password<input class=pass> 
    </div>
    <img src='./imgs/001.gif'>

    </img>
    </body>
</html>